<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="icon" href="~/images/favicon.png">
    <meta name="author" content="Partidos en vivo">
    <meta name="description" content="Partidos en vivo">
    <title>@ViewData["Title"] - Partidos Online</title>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-92TNE0G7NW"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
        dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'G-92TNE0G7NW');
    </script>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container" style="display: block;">
                
                <div id="fb-root"></div>  
                        <script async defer crossorigin="anonymous" src="https://connect.facebook.net/es_ES/sdk.js#xfbml=1&version=v8.0&appId=774523200056951&autoLogAppEvents=1" nonce="lgAYDF1E"></script>
                <div class="fb-page" data-href="https://www.facebook.com/Futbol-Online-104357434799301/" 
                    data-tabs="" data-width="" data-height="" data-small-header="true" 
                    data-adapt-container-width="false" data-hide-cover="true" data-show-facepile="false">
                    <blockquote cite="https://www.facebook.com/Futbol-Online-104357434799301/" class="fb-xfbml-parse-ignore">
                        <a href="https://www.facebook.com/Futbol-Online-104357434799301/">Futbol Online</a>
                    </blockquote>
                </div>        
            </div>
        </nav>
    </header>
    <div class="container">
        
      
        @RenderBody()
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - OnlineFutbol - Power by <a asp-area="" asp-controller="Home" asp-action="Privacy">Futbol</a>
        </div>
    </footer>
    
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>    
    <script src="~/js/moment.js" asp-append-version="true"></script>
    <script src="~/js/locale/es-mx.js" asp-append-version="true"></script>
    <script src="~/js/min/moment-with-locales.js" asp-append-version="true"></script>
    <script type="text/javascript">
        var path = '@Url.Content("~/")';
        moment.locale('es-mx');
    </script>
    @RenderSection("Scripts", required: false)
</body>

</html>
