<h4>Proximos partidos</h4>
<table style="border: solid 1px #efefef;">
    <tr>
        <td width="150px" style="text-align: center;">FC Barcelona </td>
        <td width="50px" style="text-align: center;">VS</td>
        <td width="150px" style="text-align: center;">Real Madrid</td>
    </tr>
    <tr>
        <td width="150px" style="text-align: center;"><img width="100px" src="/images/barcelona.png" alt=""></td>
        <td width="50px" style="text-align: center;">Mañana 08:00</td>
        <td width="150px" style="text-align: center;"><img width="100px" src="/images/realmadrid.png" alt=""></td>
    </tr>
    <tr style="border-top: solid 1px #efefef;">
        <td colspan="3" style="text-align: center;"><a href="/home/coming" class="btn btn-outline-secondary btn-block">Info</a></td>
    </tr>
</table>
<br/>
<table style="border: solid 1px #efefef;">
    <tr>
        <td width="150px" style="text-align: center;">Manchester United</td>
        <td width="50px" style="text-align: center;">VS</td>
        <td width="150px" style="text-align: center;">Real Madrid</td>
    </tr>
    <tr>
        <td width="150px" style="text-align: center;">
            <img width="100px" src="/images/manu.jpg" alt="">
        </td>
        <td width="50px" style="text-align: center;">Mañana 10:30</td>
        <td width="150px" style="text-align: center;"><img width="100px" src="/images/chelsea.png" alt=""></td>
    </tr>

</table>