@model Matches
 <link rel="stylesheet" href="//releases.flowplayer.org/7.0.4/commercial/skin/skin.css">
<script src="//code.jquery.com/jquery-1.12.4.min.js"></script>
<script src="//releases.flowplayer.org/7.0.4/commercial/flowplayer.min.js"></script>
<script src="//releases.flowplayer.org/hlsjs/flowplayer.hlsjs.min.js"></script>

 <h4>
    <span class="badge badge-secondary" style="background-color: #F44336; padding: 0px 10px;">Online <svg style="width: 25px;" id="i-feed" xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 32 32" width="32" height="32" fill="none" stroke="currentcolor" stroke-linecap="round"
        stroke-linejoin="round" stroke-width="2">
            <circle cx="6" cy="26" r="2" fill="currentColor" />
            <path d="M4 15 C11 15 17 21 17 28 M4 6 C17 6 26 15 26 28" />
        </svg>
    </span>
</h4>
 <table style="">
                        <tr>
                            <td width="150px" style="text-align: center;"><img width="100px" src="/images/@Model.TeamHome.ImageName" alt=""></td>
                            <td width="50px" style="text-align: center;"><p id="atTime">Vs</p></td>
                            <td width="150px" style="text-align: center;"><img width="100px" src="/images/@Model.TeamAway.ImageName" alt=""></td>
                        </tr></table>
<h3>@Model.TeamHome.Name vs @Model.TeamAway.Name</h3><span id="viendo" class="text-muted">
    0 viendo
</span>
 <div class="flowplayer fixed-controls no-toggle no-time play-button obj" style="width: 100%;
        height: 100%;
        margin-top: 6%;
        z-index: 1000;" data-key="$812975748999788" data-live="true" data-share="false" data-ratio="0.5625" data-logo="">
        <video autoplay="true" stretch="true">
            <source type="application/x-mpegurl" src="@Model.Url">
        </video>
    </div>

<script src="//releases.flowplayer.org/7.0.4/commercial/flowplayer.min.js"></script>
<script src="//releases.flowplayer.org/hlsjs/flowplayer.hlsjs.min.js"></script>

<script>
    flowplayer(function(api) {
        api.on("load", function(e, api, video) {
            $("#vinfo").text(api.engine.engineName + " engine playing " + video.type);
        });
    });
</script>
 
<script src="~/js/site.js" type="module" asp-append-version="true"></script>
