@model Matches

@{
    ViewData["Title"] = "Home Page";
}
<input type="hidden" name="" id="matchId" value="@Model.Id">
<div class="row">
    <div class="col-md-8">       
        <div id="matchMain">  
            @if(Model.IsLive??false){
               
                @await Html.PartialAsync("~/Views/shared/_VideoPage.cshtml", Model)
            }else{
                <div class="container">
                    <table style="border: solid 1px #efefef;">
                        <tr>
                            <td width="150px" style="text-align: center;">@Model.TeamHome.Name </td>
                            <td width="50px" style="text-align: center;">VS</td>
                            <td width="150px" style="text-align: center;">@Model.TeamAway.Name</td>
                        </tr>
                        <tr>
                            <td width="150px" style="text-align: center;"><img width="100px" src="/images/@Model.TeamHome.ImageName" alt=""></td>
                            <td width="50px" style="text-align: center;"><p id="atTime">@Model.EventDate</p></td>
                            <td width="150px" style="text-align: center;"><img width="100px" src="/images/@Model.TeamAway.ImageName" alt=""></td>
                        </tr>
                        
                        <tr>
                            <td style="text-align: center;" colspan="3">Empieza en:</td>
                        </tr>
                        <tr>
                            <td  style="text-align: center;" colspan="3">
                                <div id="countdown">
                                    <ul>
                                        <li><span id="days"></span>dias</li>
                                        <li><span>:</span><p style="color: white;">,</p></li>
                                        <li><span id="hours"></span>horas</li>
                                        <li><span>:</span><p style="color: white;">,</p></li>
                                        <li><span id="minutes"></span>min</li>
                                        <li><span>:</span><p style="color: white;">,</p></li>
                                        <li><span id="seconds"></span>seg</li>
                                    </ul>
                                </div>       
                            </td>
                        </tr>             
                        <tr style="border-top: solid 1px #efefef;">
                            <td colspan="3" style="text-align: center;"><a href="/matches/stream/@Model.Id" class="btn btn-outline-secondary btn-block">Info</a></td>
                        </tr>          
                    </table>                   
                                 
                </div>
            }
        </div>
    </div>
    <div class="col-md-4">
        @await Html.PartialAsync("~/Views/shared/_Next.cshtml")
        @await Html.PartialAsync("~/Views/shared/_Paypal.cshtml")

    </div>
</div>
@section Scripts
{  
    <script src="~/js/stream.js" type="module" asp-append-version="true"></script>   
    
}